/* <!-- navigation bar eg1 --> */

ul{
  margin: 0;
  padding: 0
}
body{
  margin: 0;
  padding: 0;
}
.navbar{
  height: 70px;

  background-color: #D6EFFF;
}
.navbar ul{
  width: fit-content;
  margin: 0 auto;
  padding: 20px;

  display: flex;
  list-style: none;
}
.navbar ul li{
  /* margin top and bottom 10, left andright 20 for each list element */
  margin:10px 20px;

  text-decoration: none;
}
.navbar a:link{
  color: blue;
  font-family: monospace;
  font-size: 20px;
}
.navbar a:hover{
  background-color: black;
  color: white;
}
