
/* media queries for designing responsive sites */
/* default values */
body{background-color: white;}
/* creates divisions of every div container in html */
div{border: 2px white solid;}

/* bg turns red if width of the resolution falls b/w this range */
/* end values 1024 and 1280 are included in the range unless theres more code below
overriding the end values. */
@media all and (min-width:1024px) and (max-width:1280px) {
  body{background-color: red; }
}
/* 1024 hits true here because its run after the above written code */
@media all and (min-width:900px) and (max-width:1024px) {
  body{background-color: blue; }
}
@media all and (max-width:900px) {
  body{background-color: hotpink; }
  div{width: 400px; float: left; border: 2px black solid;}
}

/* media queries for screen orientation. */
@media screen and (orientation:potrait) {
}
@media screen and (orientation:landscape) {
}

/* translating the position  */
@keyframes myAnimation {
  from{left:0px;}
  to{left:500px;}
}

/* scaling the container */
@keyframes myAnimation2 {
  from{
    left:0px;
    width: 1%;}
  to{left:500px;
  width: 100%;}
}

/* style whole content inside an element.  */
section{
  background-color: yellow;
}

/* style content from all p elements within section */
section p{
  background-color: green;
}

/* style all p elements that are only the immediate children inside section element */
section >  p{
  background-color: purple;
}

/* style content inside a div element */
/* gets overridden by p elements */
section div{
  background-color: red;
}

/* style the one p element that immediately idle(having no parent element) adjacent to(outside) the section element.    */
section + p{
  background-color: blue;
}

/* footer is the adjacent element to section, so it gets ignored. */
section + footer{
  background-color: black;
}

/* style the div container thats right after the section element. */
section + div{
  background-color: hotpink;
}

/* Styles all div elements that are after section element.
div must not be inside another element, the divs that are children outside the section element will be ignored.  */
section ~ div{
  background-color: grey;
}

/* Pseudo class */
/* style to apply when hovered over a paragraph element. */
section p:hover{
  background-color: black;
  color: white;
}

/* Style all p first children inside an element/container. */
/* also applied is the hover action in combination */
footer p:first-child:hover{
  background-color: yellow;
  color: red;
}

/* Stly all p first children inside div which is inside footer container. */
/* footer div p:first-child{
  background-color: red;
  color: blue;
} */

/* Style all p first children inside an element/container along with further combinators. */
footer p:first-child b{
  background-color: yellow;
  color: blue;
}

/* Styles all last children inside footer. */
footer p:last-child{
  background-color: orange;
  color: white;
}

/* Style footer2 thirdchild. custom child number */
footer2 p:nth-child(3){
  background-color: black;
  color: red;
}

/* user defined selection of b(bold) tag inside p element which is inside footer2 container.  */
footer2 p b:nth-of-type(2){
  background: purple;
  color: white;
}

/* select third p manually in footer2 */
footer2 p:nth-of-type(2){
  color:green;
}

.food_list::first-letter{
  font-family: fantasy;
  font-size: 50px;
  background-color: yellow;
}

/* style when text is selected in p element. */
p::selection{
  background-color: red;
}

/* style after every p element. */
/* same way there's p::before */
p::after{
  content: "---x----"
}

/* Anchor tags satisfying a condition onan attribute */
/* anchor tags having the attribute as "_blank" */
a[target="_blank"]{
  background-color: purple;
  color: white;
}

/* anchor tags having projects in their title */
a[title=Projects]{
  background-color: black;
  color: white;
}

/* anchor tags containing the word contact in their title attribute */
a[title~=contact]{
  background-color: blue;
  color: white;
}

/* style an element of which its input attribute */
input{
  background-color: yellow;
  color:red;
}

/* style an element of which its input attribute equals of type "email" */
input[type="email"]{
  background-color: pink;
  color:black;
}

/*apply style to an element of which its title attribute containing a letter z  */
[title*="z"]{
  background-color: hotpink;
}

/*apply style to an element of which its title attribute containing the word status"*/
[title~="status"]{
  background-color: green;
}

/*apply style to an element of which its title attribute equals this value"*/
[title="games"]{
  background-color: red;
  color:white;
}

/* An element having the href attribute with its value # */
[href="#"]{
  text-decoration: underline;
}

.container1{
  width: 1200px;
  height: 800px;
  margin: auto;

  /* stack multiplepng images */
  background-image: url("images/flower2.png"),url("images/color.png");;
  background-color: grey;
}

.container2{
  width: 600px;
  height: 600px;
  margin: auto;

  border-style: solid dotted;
  /* top, right, bottom, left */
  border-color: black white pink green;
  /* top width 10px, left abd right 5px, bottom 20px */
  border-width:10px 5px 20px;
  /* right, bottom, shadow spread, shadow color  */
  box-shadow: 20px 10px 50px white;
  border-radius: 25px;
}

/* bg gradients */
.container3{
  width: 600px;
  height: 600px;
  margin: auto;

  /* background:linear-gradient(rgba(255,0,0,0),purple,orange,blue); */
  /* background:linear-gradient(to top left,purple,orange,blue); */
  background:linear-gradient(to top right,purple,orange,blue);

  /* safari support */
  background:-webkit-linear-gradient(purple,orange,blue);
  /* opera support */
  background:-o-linear-gradient(purple,orange,blue);
  /* firefox */
  background:-moz-linear-gradient(purple,orange,blue);
}

/* basic animation */
.container4{
  width: 200px;
  height: 200px;
  /* required Property for animation to run */
  position: relative;

  background-color: pink;
  animation-name: myAnimation;
  animation-duration: 3s;
  /* repeat animation */
  animation-iteration-count: 3;
  /* animation-iteration-count: infinite; */
}

.container5{
  width: 200px;
  height: 200px;

  background-color: hotpink;

  animation-name: myAnimation2;

  animation-duration: 3s;
  animation-iteration-count: 3;

}
