header{

  /* background-image: url(http://lorempixel.com/400/200);
  background-repeat:no-repeat;
  background-size: cover; */
  background-color: yellow;

  /* borders */
  /* shorthand commands */
  border: double red;
  border-bottom: solid blue;
  /* border-style:double;
  border-width:medium;
  border-color:black; */

  /* Outline: */
  outline: purple solid 4px;

  /* Margin */
  /* top 10 left and right 30px and bottom 20px */
  margin:20px;
  height: 150px;

  /* Padding inside */
  padding-left:100px;

}

/* Applying styling to entire body section.  */
body{
  /* Change bg color */
  /* background-color:#cfcfcf; */

  /* background-image: url(http://lorempixel.com/400/200);
  background-repeat:no-repeat;
  background-size: 800px 300px;
  /* bg image stays on scrolling */
  /* background-attachment: fixed;
  background-position: center; */

  /* Shorthand command for above set of ops, needs a specific order of parameters */
  background: #cfcfcf url(http://lorempixel.com/400/200) no-repeat fixed center;
  background-size:cover;
}

a{
  color:green;
}
h1{
  color:blue;
}

/* An element can have styling applied by using its element and as well as a class */
/* span{
  background-color:yellow;
} */

div{
  color:red;
}

/* Tags are given a hash */
#stars{
  color:deeppink;
}

/* Classes begin with a period */
.class1{
  /* Using hex codes for colors */
  background-color:black;
  color:#df00eb;
}
.class2{
  /* rgba values for a color */
  color:rgba(219, 183, 0);
}
.class3{
  /* keyword for a color */
  color:aquamarine;
}
