nav{
  /* Margin or placement for this container called nav. */
  margin-left: 25%;
  margin-right: 25%;

  /* Size of the conatiner */
  width: auto;
  height: 40px;

  /* Set color for the Background of the container. */
  background-color: white;

  /* Set color for the content inside this container. */
  color: red;

  /* Add a border to the nav container */
  /* Shorthand command */
  border: 10px blue double;
  /* border-style: double;
  border-color: blue;
  border-width: 10px; */

  /* Padding */
  /* Further spacing around the container before content
  is placed inside the container*/
  padding-top: 20px;

  /* Algin content inside the container. */
  text-align: center;
}

header{
  margin: 30px;

  width: auto;
  height: 150px;

  background-color: yellow;

  border-style: groove;
  border-width: 10px;
  border-color: white;

  /* Padding inside */
  padding-left:10%;
  padding-right:10%;

  text-align:center;
}

/* Applying styling to entire body section.  */
body{
  /* background-image: url(http://lorempixel.com/400/200);
  background-repeat:no-repeat;
  background-size: 800px 300px;
  /* bg image stays on scrolling */
  /* background-attachment: fixed;
  background-position: center; */

  /* Shorthand command for above set of ops, needs a specific order of parameters */
  background: #cfcfcf url(http://lorempixel.com/400/200) no-repeat fixed center;
  background-size:cover;
}

/* Set styling to all anchor elements */
a{
  color:green;
}

h1{
  color:blue;
}

/* An element can have styling applied by using its element and as well as a class */
/* span{
  background-color:yellow;
} */

div{
  color:red;
}

/* Tags are given a hash */
#stars{
  color:deeppink;
}

/* Classes begin with a period */
.class1{
  /* Using hex codes for colors */
  background-color:black;
  color:#df00eb;
}

.class2{
  /* rgba values for a color */
  color:rgba(219, 183, 0);
}

.class3{
  /* keyword for a color */
  color:aquamarine;
}ª

.tclass{
  background-color: blue;
  color: white;
}

/* ID's also start with a hash */
#txt1{
  /* Text color */
  color: white;

  /* Set margin of the container */
  margin-left: 25%;
  margin-right: 25%;

  /* Width of the container */
  /* After setting margins for a container,
  its best to set the width of the container to auto. */
  width: auto;

  /* Adding a border around this container */
  border-style: dotted;
  border-color: yellow;
  border-width: 4px;
  /* border curvature on the corners */
  border-radius: 10px;

  /* Set Padding between the content and the edges of the container. */
  padding:10px;
}

.container{
  /* Container configuration */
  background-color: hotpink;
  margin: 40px;
  border: 2px solid black;
  padding: 10px;
  color: white;
  /* Content configuration */
  text-align: center;;
}
