@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap");

nav{
  /* Size of the conatiner */
  width: 50%;
  height: 40px;

  /* Margin or placement for this container called nav. */
  margin:auto;

  /* Set color for the Background of the container. */
  background-color: hotpink;

  /* Add a border to the nav container */
  /* Shorthand command */
  border: 10px blue double;
  /* border-style: double;
  border-color: blue;
  border-width: 10px; */

  /* Padding */
  /* Spacing from content inside the container to the edges of the container. */
  padding-top: 20px;

  /* Set color for the content inside this container. */
  color: red;

  /* Algin content inside the container. */
  text-align: center;

  /* Set Font */
  font-family:monospace;
  font-size: 20px;
}

header{
  width: 80%;
  height: 150px;

  margin:auto;

  border-style:solid;
  border-width: 20px;
  border-color: white;

  padding-top:20px;

  background-color: yellow;

  text-align:center;
  font-family: "Fira Sans";
  letter-spacing: 7px;
}

/* Applying styling to entire body section.  */
body{
  background-image: url(https://via.placeholder.com/150);
  background-repeat:repeat;
  /* background-color: yellow; */

  /* bg image stays on scrolling
  background-attachment: fixed; */
}

/* Set styling to all anchor elements */
a{
  color:green;
}

/* a:link{
  color: black;
} */

/* hyperlinks behaviour after clicked. */
a:visited{
  color: white;
}

/* Anchor elements or hyperlinks settings when hovered over them */
a:hover{
  background-color: white;
  color: black;
}

/* link behaviour when clicked on it */
a:active{
  color: white;
}

/* Configuring all hyperlinks within the txt1 class */
.txt2 a{
  color: deeppink;
}

h1{
  color:blue;
}

/* An element can have styling applied by using its element and as well as a class */
/* span{
  background-color:yellow;
} */

div{
  color:red;
}

/* Tags are given a hash */
#stars{
  color:deeppink;
}

/* Classes begin with a period */
.class1{
  /* Using hex codes for colors */
  background-color:black;
  color:#df00eb;
}

.class2{
  /* rgba values for a color */
  color:rgba(219, 183, 0);
}

.class3{
  /* keyword for a color */
  color:aquamarine;
}ª

.tclass{
  background-color: blue;
  color: white;
}

/* ID's also start with a hash */
.txt1{
  /* Content Settings */

  /* Text color */
  color: white;

  /* short hand font command */
  font: italic bold 20px fantasy;
  /* font-family: cursive;
  font-size: 14px; */

  /* Space between lines */
  line-height: 50px;

  /* Container Settings */

  /* Set margin of the container */
  margin-left: 25%;
  margin-right: 25%;

  /* Width of the container */
  /* After setting margins for a container,
  its best to set the width of the container to auto. */
  width: auto;

  /* Adding a border around this container */
  border-style: dotted;
  border-color: yellow;
  border-width: 4px;
  /* border curvature on the corners */
  border-radius: 10px;

  /* Set Padding between the content and the edges of the container. */
  padding:10px;
}

.container{
  /* Container configuration */
  background-color: hotpink;
  /* Set width a percentage of window's width And
  Auto set the margin for center alignment of the container */
  width: 50%;
  margin: auto;
  border: 2px solid black;
  padding: 10px;
  /* Content configuration */
  text-align: center;
  color: white;
}

table{
  border-width: 5px;
  border-style: solid;
  border-color: blue;
  font-size: 30px;

  /* width of the table and center alignment. */
  width: 90%;
  margin: auto;
}
#tabtitle{
  color: red;
}
/* Styling for every cell in the table */
td{
  border: 1px solid black;
}
