/* default margin and padding to null */
.body{
  margin: 0;
  padding: 0;
}

.site{
  /* Fit entire body in one container. */
  width: 1080px;
  margin: auto;
  padding: 10px;

  background-color: beige;
}

h1{
  padding-left: 5%;
  background-color: black;
  color: white;
  font-family: monospace;
  font-size: 40px;
}

/* nav tag contains header links. */
/* A perfect navigation bar so far. */
nav ul{
  display: flex;

  list-style-type: none;
  background-color: #333;
}
nav ul li{
  /* increase margin topand bottom by 20pxon every list item/cell. */
  margin: 20px 0;
}
nav ul li a{
  /* increase padding for anchor links inside list cells */
  padding: 20px 40px;

  text-decoration: none;
  font-family: monospace;
  font-size: 20px;
  color: white;
}
nav ul li a:hover{
  background-color:white;
  color:black;
}

.header{
  text-transform:uppercase;
}

.main{
  /* tthis property wont take effect if container has floats in it */
  background-color: red;
}

#content{
  /* careful with padding in a float, adjust width according to the padding. */
  width: 62%;
  min-height: 500px;
  float: left;
  /* top,bottom and left,right, total 8% */
  padding:2%;

  text-align: justify;
  background-color: black;
  color: white;
}

#side_menu{
  width: 30%;
  float: right;
  padding: 2% 0;

  color:white;
}
#side_menu ul{
  padding: 0;
  margin: 10px 0;
  background-color: black;
}
#side_menu ul li{
  display: block;
  padding: 7px;

  list-style-type: none;
}
#side_menu ul li:hover{
  background-color: white;
}
#side_menu ul li a{
  color:red;
}

.footer_container{
  padding: 10px;
}

.clearfix{
  clear: both;
}

/*
another method to try building a nv bar

nav{
width : 100%
}
nav ul li{
display:inline-block;
width:150%;
list-style-type:none;
}
nav a{
display:block;
padding: 10px 0;
text-align:center;
text-decoration:none;

}
*/
