.container{
  width: 100%;
  margin:0 auto;

  background-color:grey;
  /* color: white; */
}

/*
/* layout example 1 */
/* select compound of class and id */
/* #block1.divy1, #block3.divy1,
#block4.divy1, #block5.divy1,
#block6.divy1, #block7.divy1{
  height: 200px;
  border: 1px dashed blue;
} */
/* Isolate te nav bar from the same class */
/* #block2.divy1{
  height: 70px;

  background-color: black;
  color: aliceblue;
}
*/

/*
 .sample_container{
  width: 50%;
  margin: auto;
  padding: 10px;

  border: 2px solid black;
  background-color: hotpink;
  text-align: center;
  color: white;
} */

/* layout example 2 */

#block1.divy2, #block3.divy2,
#block4.divy2, #block5.divy2,
#block7.divy2{
  height: 200px;
}
/* nav bar block */
#block2.navbar{
  height: 70px;

  background-color: #D6EFFF;
}
#block6.divy2{
  height: 600px;
  /* height: 80vh; */
}
.main{
  width: 60%;
  float: right;

  background-color: blue;
}
.sidemenu{
  width: 40%;
  float: left;

  background-color: red;
}
#block7.divy2{
  clear:both;
}
/* #navigation bar */
.navbar ul{
  /* scale and align the list in the center  */
  width: fit-content;
  margin: 0 auto;
  padding: 20px;

  display: flex;
  list-style: none;
}
.navbar ul li{
  margin: 10px 20px;
}
.navbar a{
  text-decoration: none;
  color: black;
}
.navbar a:hover{
  background-color: black;
  color: white;
}
