@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

body{
  /* set default body placement and content placement to null */
  margin:10px 0;
  padding:0;
  width:100%;

  font-family: 'Mulish', sans-serif;
}
.container{
  /* setting margin top and bottom to 0 and left and right to auto. */
    margin : 0 auto;
    max-width: 1040px;
    border:1px solid black;
}

header{
  margin-top : 5px;
  width: 100%;
  height: 40px;
  position :fixed;
  background-color: #ddd;
}

/* nav bar */
#nav{
  margin :0;
  /* option 1: */
  width: 600px;
  float:right;
  /* option 2:
  max-width: 1040px; */
}
#nav ul{
  margin: 0 auto;
  display: block;

  list-style-type: none;
  }
#nav li{
    float:left;
    margin : 2px;
    padding :10px;

    border: 1px solid red;
    background-color: black;
}
#nav ul li a{
  text-decoration: none;
  /* 16 px font size */
  font-size: 1em;
  color:white;
}
#nav ul li a:hover{
  color:red;
}
#nav ul li a.active{
  border-bottom: 3px solid #fff;
}

.clear{
  clear: both;;
}

.section{
  min-height: 500px;

  border: 1px solid #ddd;
  background-color: #fff;
}
.wrap{
  /* spacing */
  width: 70%;
  /* moving */
  margin:40px auto;
  /* moving content */
  padding : 30px;

  background-color: rgba(200,200,200,0.5);
  border-radius: 20px;
}

#section1{
  padding : 50px;

  /* set bg image from url */
  background:url("http://placeimg.com/1200/800/people");
  background-size:cover;
}
/* combinator selection, id and class */
#section1 .wrap{
  /* moving: */
  margin-top: 100px;
}

#section3{
  background:url("http://placeimg.com/640/480/arch");
  background-size:cover;
}

#section5{
  background:url("http://placeimg.com/1200/800/any");
  background-size:cover;
}

img{
  float: left;
  margin : 10px;
  padding 5px;

  border:2px solid black;
}

#footer{
  padding 20px;

  background-color: #333;
  color: white;
}
.col1{
  /* spacing: */
  width: 66%;
  /* moving: */
  margin-bottom: 60px;
  display:inline-block;
}
.col2{
  width: 33%;
  display:inline-block;
}
.col2 ul a{
  color: white;
}
