/* layout example 1 */

.container{
  width: 1080px;
  margin:0 auto;

  background-color:grey;
}

/* select compound of class and id */
/* #block1.divy1, #block3.divy1,
#block4.divy1, #block5.divy1,
#block6.divy1, #block7.divy1{
  height: 200px;
  border: 1px dashed blue;
} */
/* Isolate te nav bar from the same class */
/* #block2.divy1{
  height: 70px;

  background-color: black;
  color: aliceblue;
} */

/*
 .sample_container{
  width: 50%;
  margin: auto;
  padding: 10px;

  border: 2px solid black;
  background-color: hotpink;
  text-align: center;
  color: white;
} */

/* layout example 2 */

#block1.divy2, #block3.divy2,
#block4.divy2, #block5.divy2,
#block6.divy2, #block7.divy2_clearfix{
  height: 200px;
  border: 1px dashed blue;
}
#block2.divy2{
  height: 70px;

  background-color: black;
  color: aliceblue;
}
.main{
  width: 60%;
  float: left;
}
.sidemenu{
  width: 40%;
  float: right;
}
.divy2_clearfix{
  clear:both;
}
