/* body{margin: 0px;} */
#container{
  /* spacing and postioning: */
  margin: 10px auto;
  padding: 20px;
  position: relative;
  /* dimensions: */
  width: 750px;
  height: 600px;
  /* looks: */
  background-color: #9DD2EA;
  border-radius: 10px;
  box-shadow: 0px 5px 0px 0px #009de4;
  -moz-box-shadow: 0px 5px 0px 0px #009de4;
  -webkit-box-shadow: 0px 5px 0px 0px #009de4;
}

#score{
  padding: 10px;
  position: absolute;
  left: 700px;
  background-color: #F1FF92;
  color: #888E5F;
  box-shadow: 0px 4px 0px #9da853;
  -moz-box-shadow: 0px 4px 0px #9da853;
  -webkit-box-shadow: 0px 4px 0px #9da853;
}
