.d2 p{
  color:blue;
  font-size: 200%;
}

.d3{
  height: 100px;
  width: auto;

  background-color: orange;
}
.d4{
  height: 100px;
  width: auto;

  background-color: red;
}
.d5{
  height: auto;
  width: auto;

  background-color: green;
}
/* coombinator selection */
/* select span elements from multiple classes */
.d3 span, .d4 span, .d5 span{
  color:white;
}

/* html box model */
.p1{
  /* a p element has a default margin of 16px and 0px for both border and padding. */
  /* setting 10px for all three, margin, border and padding to understand box model */
  margin:10px;
  border: 10px solid black;
  padding:10px;
  background-color: #ddd;
}

.d6{
  /* a div element has 0px default on all three, margin, border and padding. */
}

.d7{
  /* For a border and outline to be drawn, its style must be defined.*/
  margin:10px;

  border-width: 5px;
  border-style: solid;
  border-color: blue;

  outline-width:medium;
  outline-style: dashed;
  outline-color: pink;

  background-color: #ddd;
}

.d8{
  height: 100px;
  width: auto;

  border: 1px solid black;
  background-image: url(images/bike1.jpg);

  /* Setting width and height to 100% will fit the entire pic in the container
  container size equal to greater than the dims of the picture return best results.
  background-size: 100% 100%; */

  /* Fit image in 10% width and 100% height of the container */
  background-size: 10% 100%;
  /* repeat img if theres space left in the container on x axis */
  background-repeat:repeat-x;
  /* repeat img if theres space left in the container on y axis
  background-repeat:repeat-y; */

  /* Fills up the container with the image provided, just fill, not fit. */
  /* background-size: 100%; */
}
.d9{
  height: 100px;
  width: auto;

  border: 1px solid black;
  background-image: url(images/stripebg.jpg);
  background-size:100%;
}

.d10 p{
  width: 600px;
  height: 100px;
  padding: 40px;

  border: 1px solid black;
  background-image: url(images/stripebg.jpg);
  background-size: 100% 100%;
  background-repeat:no-repeat;
  /* Fit an image only in the p element which is a child of div */
  background-origin: content-box;
  backgrou
}

.d11{
  height: 100px;
  width: 100px;
  float:left;

  background-color: #ddd;
}
.d12{
  height: 100px;
  width: 100px;
  float: right;

  background-color: red;
}
.d13{
  height: 100px;
  width: auto;
  /* clear floating elements on both sides, left and right from this element's pos. */
  clear: both;
  background-color: orange;
}

/* Positioned With respect to body */
.d14{
  height: 100px;
  width: 100px;
  position: fixed;
  top : 30px;
  right : 30px;

  background-color: purple;
}
/* Positioned With respect to its original position */
.d15{
  height: 100px;
  width: 100px;
  position: relative;
  left : 200px;

  background-color: yellow;
}
/* Positioned with respect to page only, doesnt consider body's position. */
.d16{
  height: 100px;
  width: 100px;
  position: absolute;
  right: 0px;
  /* top: 0px; */
  background-color: pink;
}
/* Rendering order based on z index.
Highest z index will render first */
/* The html element that's coded in the last will render on top if
z index is not assigned toany elements.*/
.d17{
  height: 100px;
  width: 200px;
  position:absolute;
  left: 0;
  z-index: 2;

  text-align: right;
  background-color: yellow;
}
.d18{
  height: 100px;
  width: 200px;
  position:absolute;
  left: 50px;
  z-index: 1;

  text-align: right;
  background-color: red;
}
.d19{
  height: 100px;
  width: 200px;
  position:absolute;
  left: 100px;

  text-align: right;
  background-color: pink;
}

.s1{
  display: block;
}

.p2{
  text-decoration:underline;
  font-weight: bold;
  font-style: italic;
  /* 1em is 16px. */
  font-size: 2em;
  letter-spacing: 4px;
  /* horizontal, vertical shadow, bur radius, color of shadow */
  text-shadow: 2px 2px 2px grey;
  /* spacing from the left */
  text-indent: 20px;
}

.p3{
  text-align: center;
  /* apply the next font if the first one doesnt work and so on, assign a geenric/available font in the end */
  font-family: "Times New Roman", "Times", monospace;
}

/* Handling text overflow */
.d20{
  width: auto;
  height: 100px;

  border: 1px solid black;

  /* method 1 (best method) */
  /* cut off the overflowing text completely from the border end. */
  overflow: hidden;

  /* method 2 */
  /* break all extra line ending spaces */
  /* word-break: break-all; */
}
/* Hover over div to display cut off text, use this in combination with overflow:hidden
used in the container(div) that has the overflowing text.  */
.d20:hover{
  /* overflow: visible; */
}

/* Grab a sprite from a sprite sheet using coordinates */
/* sprite sheet's origin is at top left */
#img1{
  /* dims of the sprite you want to grab */
  width: 185px;
  height: 40px;
  /* manually specify origin coods on the spritesheet to grab the sprite */
  /* use negative sign for x and y coods if atom considers origin of the spritesheet at the bottom right  */
  background: URL(images/amazonspritesheet.png) -0px -80px;
}

/* image opacity */
#img2{
  width: 300px;
  height: 100px;
  opacity: 0.2;
  background: URL(images/bike1.jpg);
  background-size: 50% 100%;
}
#img3{
  width: 300px;
  height: 100px;
  opacity: 0.5;
  background: URL(images/bike1.jpg);
  background-size: 50% 100%;
}
#img4{
  width: 300px;
  height: 100px;
  opacity: 1;
  background: URL(images/bike1.jpg);
  background-size: 50% 100%;
}

/* styling lists */
.ul1{
  /* list-style-type: circle; */ß
}
.ul1 li{
  background-image: url(images/bike1.jpg);
  background-repeat: no-repeat;
}

/* styling links */
#a1{
  color: orange;
}
#a1:visited{
  color: black;
}

#a2:hover{
  color:red;
  font-size: 1.2em;
}

.d21 #a3{
  color:pink;
}
/* styling during the mouse click hold on the link */
.d21 #a3:active{
  color:red;
}

.d22{
  width: auto;
  height: 200px;

  /* examples: */
  /* background: linear-gradient(blue,white); */
  /* background: linear-gradient(blue,white,orange); */
  /* background: linear-gradient(orange,white,green); */
  /* background: linear-gradient(to left,orange,white,green); */
  /* background: linear-gradient(to bottom left,orange,white,green); */
  /* background: linear-gradient(45deg,orange,white,green); */
  /* background: linear-gradient(rgba(0,0,255,0.5),rgba(0,255,0,0.5)); */
  /* background: radial-gradient(orange,white,green); */
  /* background: radial-gradient(orange 5%,white 10%, green 80%); */
  background: radial-gradient(circle, orange 5%,white 10%, green 80%);

  /* gradient for safari browser
  background: -webkit-linear-gradient(orange,white,green); */

  /* gradient for opera browser */
  /* background: -o-linear-gradient(orange,white,green); */

  /* gradient for firefox browser */
  /* background: -moz-linear-gradient(orange,white,green); */
}

.d23{
  width: 100px;
  height: 100px;
  margin-left: 400px;

  /* rotate 30 degrees clockwise */
  /* transform: rotate(30deg); */

  /* internet explorer
  -ms-transform: rotate(30deg);
  other browsers
  -webkit-transform: rotate(30deg); */

  /* move element 10px right and 20px down */
  /* transform: translate(10px, 20px); */

  /* scale up or down */
  /* transform: scale(2); */

  /* skew the element */
  /* skewing in X will pull the element in both dirs */
  /* skew in x and y dirs. */
  transform: skew(10deg,10deg);



  background-color: hotpink;
}
