.d2 p{
  color:blue;
  font-size: 200%;
}

.d3{
  height: 100px;
  width: auto;

  background-color: orange;
}
.d4{
  height: 100px;
  width: auto;

  background-color: red;
}
.d5{
  height: auto;
  width: auto;

  background-color: green;
}
/* coombinator selection */
/* select span elements from multiple classes */
.d3 span, .d4 span, .d5 span{
  color:white;
}

/* html box model */
.p1{
  /* a p element has a default margin of 16px and 0px for both border and padding. */
  /* setting 10px for all three, margin, border and padding to understand box model */
  margin:10px;
  border: 10px solid black;
  padding:10px;
  background-color: #ddd;
}

.d6{
  /* a div element has 0px default on all three, margin, border and padding. */
}
