body {}

/* enite content sits in the div element of class contianer */
#container {
  width: 1050px;
  height: 1440px;
  /* o for top and down, auto fr left and right, sets the element in center of the page */
  margin: 0 auto;
  /* border: 2px dashed grey; */
}

#header {
  height: 100px;
  padding: 10px 5px;
  /* border: 2px dashed grey; */
}
/* Contains a  block element, so its gonna take the entire horizontal space*/
/* make it act like an inline element by floating ir to the left */
#brand {
  float: left;

  /* border: 2px dashed grey; */
}
/* site heading */
h1 a {
  font-size: 2.2em;
  font-weight: strong;
  color: #861BBF;
  text-decoration: none;
}
/* contains form which is an inline element. */
#searchbox {
  float: right;
  width: 350px;
  height: 50px;
  margin-top:30px;
  /* top,bottom,left,right */
  padding:10px 10px 0 10px;

  /* border: 2px dashed grey; */
  background:linear-gradient(#E4F2B9,#B7E953);
  background:-webkit-linear-gradient(#E4F2B9,#B7E953);
  background:-o-linear-gradient(#E4F2B9,#B7E953);
  background:-moz-linear-gradient(#E4F2B9,#B7E953);
  background:-ms-linear-gradient(#E4F2B9,#B7E953);
}
.text{
  float: left;
  width: 200px;
  padding: 5px;
  font-size: 15px;
  color: orange;
  border: 1px solid #C8D03E;
  /* set bg color to white, insert an image, on the X axis place it to the right, On Y place it at the center. */
  background: white url(images/search.png) right center no-repeat;
}
.submit{
  float: right;
  padding:5px;
  background:#A751D6;
  font-size: 15px;
  font-weight: bold;
  color: white;
}
/* Make sure to clear the floats, right after the floating elements.*/
.clear{
  clear: both;
}

#menu{
  height: 70px;
  /* top,right,bottom,left */
  padding: 10px 0 0 80px;

  /* border: 2px solid grey; */
  background: linear-gradient(#F8F594,#D5D533);
}
ul{
  list-style:none;
}
#menu ul li{
  /* lists are block elements, make it inline here */
  float: left;
  padding:0 30px;
  height: 30px;
  border-right: 1px solid #5d12e7;
}
#menu ul li:last-child{
  border-right: none;
}
#menu ul li a{
  line-height: 30px;

  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.3em;
  color:#5d12e7;

  /* Smooth out transitions for font-seize attribute for this element.  */
  transition: font-size 0.3s ease;
  /* safari */
  -webkit-transition: font-size 0.3s ease;
  /* firefox */
  -moz-transition: font-size 0.3s ease;
  /* opera */
  -o-transition: font-size 0.3s ease;
  /* internet explorer */
  -ms-transition: font-size 0.3s ease;
}
/* change link appearance when hover */
#menu ul li a:hover, #menu ul li a.active{
  font-size: 1.6em;
  font-weight: bold;
  color:#5d12e7;
}

#introduction{
  margin: 15px 0;
  padding: 30px;

  /* border:2px dashed grey; */
  background: linear-gradient(#E5F2BB,#B7E952);
}
#introduction h2{
  text-align: center;
  font-size: 2em;
  font-weight: normal;
  color:#316901;

  /* border:2px dashed grey; */
}
#introduction p{
  font-size: 1.3em;
  text-align: justify;
  color: #629a59;

  /* border:2px dashed grey; */
}

.sidebar{
  width: 450px;
  height: 700px;
  padding: 10px 30px;

  border: 1px solid green;
  border-radius: 10px;
}
#leftsidebar{
  float: left;

  /* border:2px dashed grey; */
}
#leftsidebar ul li{
  list-style-image: url(images/bullet.png);

  /* border:2px dashed grey; */
}
#rightsidebar{
  float: right;

  /* border:2px dashed grey; */
}
#rightsidebar ul li{
  padding-left: 60px;
  background: url(images/tick2.png) no-repeat left;
  /* border:2px dashed grey; */
}
.sidebar h3{
  color: #B314DB;
  font-size: 2em;

  /* border:2px dashed grey; */
}
.sidebar ul{
  padding-top: 20px;

  /* border:2px dashed grey; */
}
.sidebar ul li{
  margin: 20px 0;
  padding: 0 0 10px 5px;
}
.sidebar ul li a{
  text-decoration: none;
  font-size: 1.4em;
  color:#5d12e7;

  transition: font-size 0.3s ease;
  /* safari */
  -webkit-transition: font-size 0.3s ease;
  /* firefox */
  -moz-transition: font-size 0.3s ease;
  /* opera */
  -o-transition: font-size 0.3s ease;
  /* internet explorer */
  -ms-transition: font-size 0.3s ease;
}
.sidebar ul li a:hover, .sidebar ul li a.active{
  text-decoration: none;
  color:#B314DB;
  font-size:1.41em;
  font-weight: bold;
}

#footer{
  height: 100px;
  margin: 20px 0;
  padding-top: 10px;
  text-align: center;

  background: linear-gradient(#F8F594,#D5D533);
}



/* Developer assistance */
body{
  border:2px dashed red;
  /* border-style: groove; */
}
div{
  border:2px dashed green;
}
a{
  border:2px dashed blue;
}
ul,li,h1,h2,h3,p{
  border:2px dashed grey;
}
