html{
  height: 100%;
  background: radial-gradient(circle, #fff, #ccc);
}

#container{
  width: 550px;
  height:400px;
  margin:100px auto;
  padding:20px;
  /* need to do this before giving absolute position to its children elements. */
  position: relative;

  background-color: #9DD2EA;
  border-radius: 10px;
  /* shadow on right and bottom of the element, followed by blur, strength of the shadow and color of the shadow. */
  box-shadow : 0px 4px 2px 2px #009de4;
  /* box shadows for safari and firefox browsers */
  -webkit-box-shadow : 0px 4px 2px 2px #009de4;
  -moz-box-shadow : 0px 4px 2px 2px #009de4;
}

#score{
  /* if parent has relative position, children must have absolute pos. */
  position: absolute;
  padding:10px;
  left:500px;

  background-color: #F1FF92;
  color: #888E5F;
  box-shadow : 0px 4px 0 0 #9da853;
  /* box shadows for safari and firefox browsers */
  -webkit-box-shadow : 0px 4px 0 0 #9da853;
  -moz-box-shadow : 0px 4px 0 0 #9da853;
}

#correct{
  /* if parent has relative position, children must have absolute pos. */
  position: absolute;
  left:260px;
  padding:11px;

  background-color: #42e252;
  color: white;
  display: none;
}

#wrong{
  /* if parent has relative position, children must have absolute pos. */
  position: absolute;
  left:250px;
  padding:11px;

  background-color: #de401a;
  color: white;
  /* makes the element both inactive and hidden */
  display: none;
}

#question{
  /* this element will behave as if its siblings with absolute position doesent exist. */
  width: 450px;
  height: 150px;
  /* top, right, bottom, left */
  margin: 50px auto 10px auto;

  background-color: #9DA0EA;

  /* horizontal, vertical, color. */
  box-shadow: 0 4px #535aa8;
  -webkit-box-shadow: 0 4px #535aa8;
  -moz-box-shadow: 0 4px #535aa8;

  font-size: 100px;
  /* horizontal text alignment */
  text-align: center;
  /* vertical text alignment */
  line-height: 120px;
  font-family: cursive, sans-serif;
  color:black;
}

#instruction{
  /* this element will behave as if its siblings with absolute position doesent exist. */
  width: 450px;
  height: 50px;

  background-color: #B481D9;

  box-shadow: 0 4px #8153a8;
  -webkit-box-shadow: 0 4px #8153a8;
  -moz-box-shadow: 0 4px #8153a8;

  margin: 10px auto;
  /* horizontal text alignment */
  text-align: center;
  /* vertical text alignment */
  line-height: 50px;
}

#choices{
  width: 450px;
  height: 100px;
  margin: 5px auto;
}

.box{
  width: 85px;
  height: 85px;
  float: left;
  margin-right: 36px;

  background-color: white;
  border-radius: 3px;

  /* horizontal, vertical, color. */
  box-shadow: 0 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 4px rgba(0,0,0,0.2);

  text-align: center;
  line-height: 80px;

  /* change cursor to pointer when hovered over the boxes */
  cursor: pointer;


}

#box4{
  /* override margin right for the last box. */
  margin-right: 0;
}

/* when hovered */
.box:hover, #startreset:hover{
  background-color: #9c89F6;
  color: white;

  box-shadow: 0 4px #6b5483;
  -webkit-box-shadow: 0 4px #6b5483;
  -moz-box-shadow: 0 4px #6b5483;
}
/* when pressed */
.box:active, #startreset:active{
  box-shadow: 0 0 #6b5483;
  -webkit-box-shadow: 0 0 #6b5483;ß
  -moz-box-shadow: 0 0 #6b5483;

  /* move 4px from top relative to its original position. */
  position: relative;
  top: 4px;
  /* Smooth out transitions of all properties of this element. */
  transition: all 0.2s;
  /* cross platform compatability */
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
}

#startreset{
  width: 80px;
  margin: 0px auto;
  padding:10px;

  background-color: rgba(255,255,255,0.5);
  border-radius: 3px;
  text-align: center;

  box-shadow: 0 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 4px rgba(0,0,0,0.2);

  cursor: pointer;
}

#time_remaining{
  width: 150px;
  padding: 10px;
  /* to position it inside the container, absolute position will be relative to the window, not any other element. */
  position: absolute;
  /* position from top of the window in pixels. */
  top: 385px;
  left: 400px;

  background-color: rgba(88, 227, 59,0.8);
  border-radius: 3px;

  box-shadow: 0 4px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 4px rgba(0,0,0,0.2);

  text-align: center;

  display:none;
  /* this property will make the element still exist and interact in the page despite it being hidden. */
  /* visibility: hidden; */
}

#gameover{
  width: 500px;
  height: 200px;
  /* positioning */
  position: absolute;
  top: 100px;
  left: 45px;
  /* render on top of all other elemenets, default z index is 0. */
  z-index: 1;
  display: none;

  background: linear-gradient(rgb(230, 186, 33), rgb(180, 80, 40));
  color: white;
  font-size: 2.5em;
  text-align: center;
  border-radius: 4px;
  text-transform: uppercase;

}
